<form class="{{cssClass}}" npc-sheet autocomplete="off">
    <div class='gga-app {{classes}} npc-sheet'>
        <div class="npc-input-skills">
            <div class="npc-input-sk dblclksort npc-header" data-key="data.skills">Tenemos libros sobre</div>
            <div class="npc-sheet-sk-val">
                {{#listeqt data.skills}}
                    <div class='npc-trait-row skldraggable desc' data-key="data.skills.{{@key}}">
                        <div>
                            <div class="dblclkedit">{{{gurpslink this.name}}}
                                <div class="list_note">{{{gurpslinkbr this.notes @root}}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="sl rollable npc-sheet-centered" data-name="{{this.name}}"
                         data-key="data.skills.{{@key}}" data-otf='S:"{{this.name}}"'>{{this.level}}</div>
                    <div></div>
                {{/listeqt}}
            </div>
        </div>
    </div>
</form>