<div id='aspects-description' class="field-block-description-aspects">
    <div>
        <h1 class='header'>Descripción</h1>
        {{#if data.descriptions}}
        <div class="list">
            {{#each data.descriptions}}
                <div style="padding-left: 5px">{{this.notes}}</div>
                <br>
            {{/each}}
            <div style="padding-left: 5px">Edad: {{this.data.traits.age}}</div>
        </div>
        {{/if}}
    </div>
    <div class="field-block-aspects-traits">
        <div class="pad">
            {{#if data.aspects}}
                <h1 class='header'>Aspectos</h1>
                {{#each data.aspects}}
                    {{#if this.notes }}
                        <div>
                            <label>
                                <div class="extra-info" style="margin-bottom: 4px"  data-info="{{this.notes}}">{{this.name}}</div>
                            </label>
                        </div>
                    {{else}}
                        <div style="margin-bottom: 4px; font-size:12px" >{{this.name}}</div>
                    {{/if}}
                {{/each}}
            {{/if}}
        </div>
        <div class="pad">
            {{#if data.personalityTraits}}
                <h1 class='header'>Rasgos de personalidad</h1>
                {{#each data.personalityTraits}}
                    {{#if this.notes }}
                        <div>
                            <label>
                                <div class="extra-info" style="margin-bottom: 4px"  data-info="{{this.notes}}">{{#if this.alternateName}}
                                    {{{ this.alternateName}}}
                                {{else}}
                                    {{{ this.name}}}
                                {{/if}}</div>
                            </label>
                        </div>
                    {{else}}
                        <div style="margin-bottom: 4px; font-size:12px">{{#if this.alternateName}}
                            {{{ this.alternateName}}}
                        {{else}}
                            {{{ this.name}}}
                        {{/if}}</div>
                    {{/if}}
                {{/each}}
            {{/if}}
        </div>
    </div>
</div>