<div id='basic-attributes'>
  <div></div>
  <div class='field-centeredblock1'>

    <div class='label-centered'>{{i18n 'GURPS.attributesSTNAME'}} </div>
    <div class='field-centered rollable' data-path='attributes.ST.value' data-otf='ST'>{{data.attributes.ST.value}}</div>


    <div class='label-centered'>{{i18n 'GURPS.attributesDXNAME'}} </div>
    <div class='field-centered rollable' data-path='attributes.DX.value' data-otf='DX'>{{data.attributes.DX.value}}</div>

    <div class='label-centered'>{{i18n 'GURPS.attributesIQNAME'}} </div>
    <div class='field-centered rollable' data-path='attributes.IQ.value' data-otf='IQ'>{{data.attributes.IQ.value}}</div>


    <div class='label-centered'>{{i18n 'GURPS.attributesHTNAME'}} </div>
    <div class='field-centered rollable' data-path='attributes.HT.value' data-otf='HT'>{{data.attributes.HT.value}}</div>

  </div>
</div>

