<div id='disciplines-mini' class="disciplines-mini">
        {{#if data.magickRecipees}}
            <h1 class='header'>Recetas</h1>
            <div class="pad">
            {{#each data.magickRecipees}}
                <div>
                    <label>
                        <div style="margin-bottom: 4px"><span class='extra-info' data-info="{{this.notes}}">{{this.name}}</span> <span class='rsl {{rollable this.level}}' data-otf='Sk:"{{this.name}}"'>({{this.level}})</div>
                    </label>
                </div>
            {{/each}}
            </div>
        {{/if}}

        {{#if data.combatTechniques}}
            <h1 class='header'>Técnicas de combate</h1>
            <div class="pad">
            {{#each data.combatTechniques}}
                <div>
                    <label>
                        <div style="margin-bottom: 4px"><span class='extra-info' data-info="{{this.notes}}">{{this.name}}</span> <span class='rsl {{rollable this.level}}' data-otf='Sk:"{{this.name}}"'>({{this.level}})</div>
                    </label>
                </div>
            {{/each}}
            </div>
        {{/if}}
</div>
