<style>
    .sheet-mini-spheres {
        flex-wrap: wrap; !important;
        display: flex; !important;
        width: 100%; !important;
        justify-content: space-between; !important;
    }

    .recipe-description {
        white-space: pre-line;
    }

    .sheet-mini-spheres > div {
        width: calc((100% / 2) - 2px);
        padding-bottom: 5px;
        text-align: center;
    }

    .sheet-mini-spheres label {
    }

    .info_container {
        margin-bottom: 20px;
    }
    .info_title {
        font-size:16px;
        font-weight: bold;
        margin-top:20px;
        margin-bottom:20px;
    }

    .info_notes {
        font-size:14px;
        white-space: pre-line;
        display: none
    }

    .header_title {
        margin-top: 20px;
    }

</style>

<div id='magic-mini' class="magic-mini">
    {{#if data.magickSkills }}
        <h1 class='header'>Esferas</h1>
        <div data-i18n-list="spheres-list" class="sheet-mini-spheres" >
            {{# each data.magickSkills }}
            <div>
                <label>
                    <span class="pdflink" data-pdf="{{this.pageref}}">{{this.name}}</span>
                    <span class="rollable" data-otf='Sk:"{{this.name}}"'>({{this.level}})</span>
                </label>
                <div>
                    <label>
                        {{#ifCond this.sphere.level '>=' 1}}
                            &#9673;
                        {{else}}
                            &#9675;
                        {{/ifCond}}
                        <span></span>
                    </label>
                    <label>
                        {{#ifCond this.sphere.level '>=' 2}}
                            &#9673;
                        {{else}}
                            &#9675;
                        {{/ifCond}}
                        <span></span>
                    </label>
                    <label>
                        {{#ifCond this.sphere.level '>=' 3}}
                            &#9673;
                        {{else}}
                            &#9675;
                        {{/ifCond}}
                        <span></span>
                    </label>
                    <label>
                        {{#ifCond this.sphere.level '>=' 4}}
                            &#9673;
                        {{else}}
                            &#9675;
                        {{/ifCond}}
                        <span></span>
                    </label>
                    <label>
                        {{#ifCond this.sphere.level '>=' 5}}
                            &#9673;
                        {{else}}
                            &#9675;
                        {{/ifCond}}
                        <span></span>
                    </label>
                </div>
            </div>
            {{/each}}
        </div>
    {{/if}}

    {{#if data.magickAdvantages.mundaneBackgrounds}}
        <h1 class='header'>Trasfondos mundanos</h1>
        <div class="sheet-mini-spheres">
            {{#each data.magickAdvantages.mundaneBackgrounds}}
                <div>
                    <span class='extra-info' data-info="{{this.notes}}" data-pageref="{{this.pageref}}">{{this.name}}</span>
                </div>
            {{/each}}
        </div>
    {{/if}}

    {{#if data.magickAdvantages.supernaturalBackgrounds}}
        <h1 class='header'>Trasfondos sobrenaturales</h1>
        <div class="sheet-mini-spheres">
            {{#each data.magickAdvantages.supernaturalBackgrounds}}
                <div>
                    <span class='extra-info' data-info="{{this.notes}}" data-pageref="{{this.pageref}}">{{this.name}}</span>
                </div>
            {{/each}}
        </div>
    {{/if}}

    {{#if data.magickAdvantages.paradigm}}
     <h1 class='header'>Paradigma</h1>
     <div class="pad">
            {{#each data.magickAdvantages.paradigm}}
                <div  class="list">
                    <div  class='extra-info' data-info="{{this.notes}}">{{this.name}}</div>
                </div>
            {{/each}}
     </div>
    {{/if}}
    {{#if data.magickAdvantages.practique}}
    <h1 class='header'>Práctica</h1>
    <div class="pad">
            {{#each data.magickAdvantages.practique}}
                <div  class="list">
                    <div  class='extra-info' data-info="{{this.notes}}">{{this.name}}</div>
                </div>
            {{/each}}
    </div>
    {{/if}}

    {{#if data.magickAdvantages.tools}}
        <h1 class='header'>Instrumentos</h1>
        <div class="pad">
            {{#each data.magickAdvantages.tools}}
                <div class="list">
                    <div class='extra-info' data-info="{{this.notes}}">{{this.name}}</div>
                </div>
            {{/each}}
        </div>
    {{/if}}

</div>
