<style>
    .sheet-spheres {
        flex-wrap: wrap; !important;
        display: flex; !important;
        width: 100%; !important;
        justify-content: space-between; !important;
    }

    .recipe-description {
        white-space: pre-line;
    }

    .sheet-spheres > div {
        width: calc((100% / 3) - 10px);
        text-align: center;
    }

    .sheet-spheres label {
        font-size: 20px;
    }

    .info_container {
        margin-bottom: 20px;
    }
    .info_title {
        font-size:16px;
        font-weight: bold;
        margin-top:20px;
        margin-bottom:20px;
    }

    .info_notes {
        font-size:14px;
        white-space: pre-line;
        display: none
    }

    .header_title {
        margin-top: 20px;
    }

</style>

<script>
    $('#magic .info_title').click((evt) => {
        $(evt.target).parent().find('.info_notes').toggle()
    });
</script>
<div id='magic'>
    <h1 class='header_title'>Magia verdadera</h1>
    {{#if data.magickAdvantages.avatar}}
        <div>
            <label>
                <span  style='font-size:16px' class='flex-center'>{{data.magickAdvantages.avatar.name}}</span>
            </label>
        </div>
    {{/if}}
    {{#if data.magickAdvantages.arete}}
        <div>
            <label>
                <span  style='font-size:16px' class='flex-center'>{{data.magickAdvantages.arete.name}}</span>
            </label>
        </div>
    {{/if}}
    {{#if data.magickAdvantages.awareness}}
        <div>
            <label>
                <span  style='font-size:16px' class='flex-center'>{{data.magickAdvantages.awareness.name}}</span>
            </label>
        </div>
    {{/if}}
    {{#if data.magickAdvantages.arcane}}
        <div>
            <label>
                <span  style='font-size:16px' class='flex-center'>{{data.magickAdvantages.arcane.name}}</span>
            </label>
        </div>
    {{/if}}

    {{#if data.magickSkills }}
        <h1 class='header_title'>Esferas</h1>
        <div data-i18n-list="spheres-list" class="sheet-spheres" >
            {{# each data.magickSkills }}
            <div>
                <label>
                    <span  style='font-size:16px' class='rsl {{rollable this.level}} flex-center' data-otf='Sk:"{{this.name}}"'>{{this.name}} ({{this.level}})</span>
                </label>
                <div>
                    <label>
                        {{#ifCond this.sphere.level '>=' 1}}
                            &#9673;
                        {{else}}
                            &#9675;
                        {{/ifCond}}
                        <span></span>
                    </label>
                    <label>
                        {{#ifCond this.sphere.level '>=' 2}}
                            &#9673;
                        {{else}}
                            &#9675;
                        {{/ifCond}}
                        <span></span>
                    </label>
                    <label>
                        {{#ifCond this.sphere.level '>=' 3}}
                            &#9673;
                        {{else}}
                            &#9675;
                        {{/ifCond}}
                        <span></span>
                    </label>
                    <label>
                        {{#ifCond this.sphere.level '>=' 4}}
                            &#9673;
                        {{else}}
                            &#9675;
                        {{/ifCond}}
                        <span></span>
                    </label>
                    <label>
                        {{#ifCond this.sphere.level '>=' 5}}
                            &#9673;
                        {{else}}
                            &#9675;
                        {{/ifCond}}
                        <span></span>
                    </label>
                </div>
            </div>
            {{/each}}
        </div>
    {{/if}}
    {{#if data.magickRecipees}}
        <h1 class='header_title'>Recetas</h1>
        {{#each data.magickRecipees}}
            <div>
                <label>
                    <div  style='font-size:16px' class='rsl {{rollable this.level}} flex-center' data-otf='Sk:"{{this.name}}"'>{{this.name}} ({{this.level}})</div>
                    <div class="recipe-description">{{this.notes}}</div>
                </label>
            </div>
        {{/each}}
    {{/if}}

    {{#if data.magickAdvantages.paradigm}}
        <h1 class='header_title'>Paradigma</h1>
        <div class="info_container">
            {{#each data.magickAdvantages.paradigm}}
                <div>
                    <div  class='info_title'>{{this.name}}</div>
                    <span class='info_notes'>{{this.notes}}</span>
                </div>
            {{/each}}
        </div>
    {{/if}}
    {{#if data.magickAdvantages.practique}}
        <h1 class='header_title'>Práctica</h1>
        <div class="info_container">
            {{#each data.magickAdvantages.practique}}
                <div>
                    <div  class='info_title'>{{this.name}}</div>
                    <span class='info_notes'>{{this.notes}}</span>
                </div>
            {{/each}}
        </div>
    {{/if}}
    {{#if data.magickAdvantages.tools}}
        <h1 class='header_title'>Instrumentos</h1>
        <div class="info_container">
            {{#each data.magickAdvantages.tools}}
                <div>
                    <div  class='info_title'>{{this.name}}</div>
                    <span class='info_notes'>{{this.notes}}</span>
                </div>
            {{/each}}
        </div>
    {{/if}}
</div>
