<div id="erebo-points" class='field-block3-mage-ascension-points'>

    <div class="isABox">
        <div class='label-centered'>Voluntad</div>
        <div class="field-block2-erebo-points" style="height: 35px">
            <input class="field-centered"
                   name="data.VOL.value" type="text" value="{{data.VOL.value}}" data-dtype="Number"/>
            <input type="button" class="usePool" data-type="VOL" value="Gastar"/>
        </div>
    </div>

    <div class="isABox">
        <div class='label-centered'>Quintaesencia</div>
        <div class="field-block2-erebo-points" style="height: 35px">
            <input class="field-centered"
                   name="data.QE.value" type="text" value="{{data.PX.value}}" data-dtype="Number"/>
            <input type="button" class="usePool" data-type="QE" value="Gastar"/>
        </div>
    </div>

    <div class="isABox">
        <div class='label-centered'>Paradoja</div>
        <div class="field-block2-erebo-points" style="height: 35px">
            <input class="field-centered"
                   name="data.PX.value" type="text" value="{{data.PX.value}}" data-dtype="Number"/>
            <input type="button" class="usePool" data-type="PX" value="Gastar"/>
        </div>
    </div>

    <div class="isABox">
        <div class='label-centered'>Movimiento</div>
        <div class='field-centered '>{{data.currentmove}}</div>
    </div>

    <div class="isABox">
        <div class='label-centered'>Velocidad</div>
        <div class='field-centered '>{{data.basicspeed.value}}</div>
    </div>
</div>2